.conf {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1;
}

.label {
  text-align: right;
  padding-right: 0.2rem;
  line-height: 100%;
}

.filename-display {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.pcb-view {
  display: flex;
  margin-top: 1.2em;
  width: 100%;
}

.pcb-view > * {
  padding: 0.2em;
}

.pcb {
  box-sizing: border-box;
  background-color: #040;
  box-shadow: 0.5mm 0.5mm 1mm black;
}

.part {
  box-sizing: border-box;
  background-color: white;
  opacity: 0.1;
}

.smd {
  box-sizing: border-box;
  background-color: #db4;
}

.pad {
  box-sizing: border-box;
  border: 1px solid #db4;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0.5mm 0.5mm 1mm black inset;
}

.circle {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
  z-index: 1;
}

.mirrored {
  opacity: 0.5;
}

.part.mirrored {
  opacity: 0.1;
  border: 1px dotted white;
  background-color: transparent;
}

.circle.mirrored {
  opacity: 0.1;
  border: 1px dotted white;
}

.flip-board {
  text-align: center;
  width: 100%;
  padding-top: 1.2em;
  position: sticky;
}

.flip-board::before {
  content: 'Top';
  top: 0.5rem;
  position: relative;
}

.flip-board::after {
  content: 'Bottom';
  top: 0.5rem;
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(201, 13, 12);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(6, 150, 215);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(6, 150, 215);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: grey;
  text-decoration: none;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table * {
  border: 1px solid black;
}

td {
  background-color: #eee;
  vertical-align: top;
}

.numeric {
  text-align: right;
}

th {
  background-color: #ddd;
}

.hilite > td {
  background-color: transparent;
}

.hilite {
  background-color: red;
  opacity: 0.8;
}

.hide {
  display: none;
}

.show {
  display: block;
}
